.main {
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  color: white;
  background-color: #fff2;
  background-image: url("./rainbow.png");
  background-position: center;
  background-size: cover;
  border: solid 2px white;
  border-radius: 5px;
}

.main ul {
  list-style-type: none;
}

.footer {
  text-align: center;
  font-family: Montserrat, Times;
}

.main.currentDate {
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.main .enterACity {
  font-size: 15px;
  font-weight: 400;
  color: white;
  border-radius: 5px;
  border: solid 2px white;
}

.main .submit {
  font-size: 15px;
  background-color: rgb(58, 58, 58);
  color: white;
  border-radius: 5px;
  border: solid 2px rgb(58, 58, 58);
}

.main .currentCity {
  padding: 20px;
  margin-bottom: 0;
  font-size: 50px;
  font-weight: 600;
  color: white;
  position: relative;
  top: 50px;
}

.main .humidityAndWind {
  padding-left: 20px;
  padding-top: 30px;
  font-size: 25px;
  font-weight: 300;
  color: white;
  position: relative;
}

.main .weatherIcon {
  text-align: center;
  font-size: 130px;
  font-weight: 300;
  color: white;
  position: relative;
  top: 20px;
}

.main .currentTemperature {
  position: relative;
  top: -30px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.main .weatherDays {
  font-size: 15px;
  font-weight: 300;
}
