.main {
  max-width: 550px;
  max-height: 400px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  color: white;
  background-color: #fff2;
  background-image: url("./rainbow.png");
  background-position: center;
  background-size: cover;
  border: solid 2px white;
  border-radius: 5px;
}

.main ul {
  list-style-type: none;
}

.footer {
  text-align: center;
  font-family: Montserrat, Times;
}

.currentDate {
  font-size: 18px;
  font-weight: 200;
  color: white;
}

.time {
  font-weight: 400;
}

.metrics {
  color: white;
  text-decoration: none;
}

.main .enterACity {
  font-size: 15px;
  font-weight: 400;
  color: black;
  border-radius: 5px;
  border: solid 2px white;
  position: relative;
  left: 78px;
}

.main .submit {
  font-size: 15px;
  background-color: rgb(58, 58, 58);
  color: white;
  border-radius: 5px;
  border: solid 2px rgb(58, 58, 58);
}

.main .currentCity {
  padding: 20px;
  font-size: 45px;
  font-weight: 600;
  color: white;
  position: relative;
  top: 50px;
}

.main .humidityAndWind {
  padding-left: 20px;
  padding-top: 30px;
  font-size: 25px;
  font-weight: 300;
  color: white;
  position: relative;
}

.main .weatherIcon {
  width: 150px;
  position: relative;
  top: 40px;
}

.main .currentTemperature {
  position: relative;
  left: 20px;
  top: 6px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.main .weatherDays {
  font-size: 15px;
  font-weight: 300;
}

.miniWeatherIcon {
  width: 26px;
}

@media (max-width: 576px) {
  .main {
    max-height: 800px;
    padding: 20px;
  }

  .main .enterACity {
    position: initial;
    text-align: center;
  }

  .main .currentCity {
    text-align: center;
    font-size: 55px;
    position: relative;
    top: 65px;
  }

  .humidityAndWind {
    position: relative;
    left: -5px;
    top: 7px;
    text-align: center;
    padding-left: 0;
    padding-top: 0;
    margin: auto;
  }

  .main .weatherIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -30px;
    width: 200px;
  }

  .main .currentTemperature {
    position: relative;
    left: 0;
    top: -65px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .weatherDays {
    text-align: center;
  }

  .weekday {
    padding: 5px;
    font-size: 18px;
  }

  .miniWeatherIcon {
    width: 32px;
  }
}
